html, body {
	font-family: 'Raleway', sans-serif;
	background-color: #F5F5F5;
	color: #191510;
	width: 100%;
}

h1 {
	font-size: 74px;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 200;
}

header {
	width: 100%;
	text-align: center;
}

main {
	text-align: center;
}

button {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
	padding: 10px;
	background-color: #90AEF4;
	border: none;
}

button:hover {
	background-color: #09225D;
	color: #F5F5F5;
	transition: all 600ms ease;
}

button:active {
	background-color: #7F1019;
	transition: background-color 200ms ease;
}

#replacement {
	font-size: 24px;
	font-weight: 200;
}

